<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testversion">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:name=".SSApp">

        <!-- Splash / Opening Animation -->
        <activity
            android:name=".OpenAnimation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Main Page -->
        <activity android:name=".MainActivity" android:exported="true" />

        <!--  Branch Overview  -->
        <activity android:name=".BranchOverview" android:exported="true"/>

        <!-- Profile Pages -->
        <activity android:name=".LoginActivity" android:exported="true"/>
        <activity
            android:name=".RegistrationActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"/>
        <activity android:name=".EmailVerificationActivity" android:exported="true"/>
        <activity android:name=".UserProfileActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ChangeSettingsActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ChangeSensitiveInformationActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <!-- Reservation Page -->
        <activity android:name=".ReservationActivity" android:exported="true"/>
        <activity android:name=".BookingDetailsActivity" android:exported="true"/>

        <!-- Branches Page -->
        <activity android:name=".CityBranch" android:exported="true"/>
        <activity android:name=".MountainBranch" android:exported="true"/>
        <activity android:name=".IslandBranch" android:exported="true"/>

        <!-- Rooms Page -->
        <activity android:name=".MountainRoom" android:exported="true"/>
        <activity android:name=".CityRoom" android:exported="true"/>
        <activity android:name=".IslandRoom" android:exported="true"/>

        <!-- Payment Pages-->
        <activity android:name=".PaymentDetailsActivity" android:windowSoftInputMode="adjustResize|stateHidden" android:exported="true"/>
        <activity android:name=".PendingPaymentActivity" android:windowSoftInputMode="adjustResize" android:exported="true"/>
        <activity android:name=".BookingSuccessActivity" android:exported="true"/>
        <activity android:name=".PaymentFailedActivity" android:exported="true"/>
        <activity android:name=".SearchAvailableRoomActivity" android:exported="true"/>
        <activity android:name=".BookingActivity" />
    </application>
</manifest>
